.mobile-navbar {
    display: none;
    height: var(--mobile-navbar-height);
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: $clr3;
    z-index: 10;
    padding-bottom: env(safe-area-inset-bottom);

    .btn-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.3%;
        height: var(--mobile-navbar-height);
    }

    @include for-mobile-layout {
        display: flex;
    }
}